#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.answerChoices {
  display: flex;
  justify-content: center;
  height: 300px;
  gap: 10px;
  position: fixed;
  top: 550px;
  left: 50%;
  transform: translateX(-50%);
}

#toggle-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
}