#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#param-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.answerChoices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  row-gap: 20px; 
  column-gap: 20px;
  width: 50%;

  position: absolute;
  top: 500px;
  left: 50%;
  transform: translateX(-50%);

  padding: 10px;
  border-radius: 20px;
  background-color: #5726ac;
}

.answerChoices button {
  height: 70px;
  background-color: #5d15d8;
  width: 100px;
  border-radius: 20px;
  border: 1.5px none #ecedff;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}
  
.answerChoices button:hover {
  background-color: #5726ac;
}

.answerChoices button.on {
  background-color: red;
}



#practice-buttons {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#practice-buttons .navButton {
  background-color: #5d15d8;
  width: 100px;
  border-radius: 20px;
  border: 1.5px none #ecedff;
}

#toggle-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #5726ac;
  padding: 5px;
  border-radius: 20px;
  align-items: center;
}

#start-button {
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%); */
  /* bottom: 10px; */
  width: 300px;
  height: 100px;
  font-size: larger;
  border-radius: 60px;
  border: 4px solid lightgrey;
  background-color: #5d15d8;
}
