.answer-button button {
  height: 70px;
  background-color: #5d15d8;
  width: 100px;
  border-radius: 20px;
  border: 1.5px none #ecedff;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #5726ac;
}

.answer-button .on {
  background-color: red;
}